.body
{
    margin:0;
    padding:0;
}
.Login__page-logo
{
    display:flex;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 30px;
}
.Login__page-logo > img
{
    width: 100px;
}.Login__page-form
{
    width:500px;
    height: auto;
    background-color: #FAFAFA;
    margin: 0 auto;
    padding:10px;
    border-radius: 5px;
}
.Login__page-form > h1
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight:400;
    font-size: 18px;
}
.login__form
{
    /* margin: 0 auto; */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border:1px solid black; */
}
.login__form-email
{
    width: 300px;
    height:20px;
    padding:8px;
    /* margin-top:20px; */
    border-radius:5px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.login__form-button
{
    width:320px;
    padding:9px;
    margin-top:20px;
    background-color: #3498DB;
    border-radius: 5px;
    border:1px solid black;
    cursor:pointer;
}
.login__form-button:hover
{
    background-color: white;
}
.Login__page-form > h5
{
    font-family:"Roboto", sans-serif;
    text-align:center;
    font-weight: 500;
}
.Login__page-form > h5 >a
{
    text-decoration: none;
    color: #3498DB;
}
#Password__wrong-alert
{
    font-family: "Roboto", sans-serif;
    /* margin-top: 5px; */
    font-size: 14px;
    font-weight: 350;
    color: red;
}
#Password__mismatch-alert
{
    font-family: "Roboto", sans-serif;
    /* margin-top: 5px; */
    font-size: 14px;
    font-weight: 350;
    color: red;
}